@-webkit-keyframes wiggle {
	from {-webkit-transform: rotateZ(6deg);}
	50% {-webkit-transform: rotateZ(-6deg);}
	to {-webkit-transform: rotateZ(6deg);}
}

@-webkit-keyframes wiggle-mild {
	from {-webkit-transform: rotateZ(3deg);}
	50% {-webkit-transform: rotateZ(-3deg);}
	to {-webkit-transform: rotateZ(3deg);}
}

.onoffswitch {
    margin-left: 10px;
    display: inline-block;
    position: relative;
    width: 77px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    vertical-align: middle;
    margin-bottom: 10px;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 14px;
}
.onoffswitch-inner {
    width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    float: left; width: 50%; height: 21px; padding: 0; line-height: 21px;
    font-size: 11px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "MUSIC";
    padding-left: 12px;
    background-color: #2FCCFF; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "LYRICS";
    padding-right: 12px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    width: 13px; margin: 4px;
    background: #FFFFFF;
    border: 2px solid #999999; border-radius: 14px;
    position: absolute; top: 0; bottom: 0; right: 52px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}

#applicationBody {
    display: none;
}

#loginFacade {
    display: none;
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background-color: #f5f5dc;
    z-index: 1000;
    /*background: url(https://lh4.googleusercontent.com/-v0lHlEgJbsc/Tz6i4eth_bI/AAAAAAAACe4/i5p6RFtgyAw/s0/tumblr_lotg3aRslc1qzq5nno1_1280.jpg) no-repeat center center fixed;*/
    background: url(/img/loginpics/1.jpg) no-repeat top right fixed;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    perspective: 1000;
}

.fwb {
    font-weight: normal;
}

.flipper {
    position: relative;
    -webkit-transform: scale(2.0);
    -webkit-transition: all 0.6s ease-in;
    transform-style: preserve-3d;
    opacity: 0;
}

.loginContentVerticalCenter {
    position: absolute;
    top: 33%;
    width: 100%;
}

.loginContent {
    width: 480px;
    height: 100px;
    margin-right: auto;
    margin-left: auto;
}

.loginContent h1 {
    font-family: "Open Sans",Arial,Helvetica,sans-serif;
    margin: 0;
    font-weight: 300;
    margin-bottom: 12px;
    color: white;}

#fb-login {
    cursor: pointer;
}

#fb-auth {
    /*z-index: 999;*/
    /*position: fixed;*/
    /*left: 20px;*/
    /*top: 20px;*/
    cursor: pointer;
    font: 16px "Oswald";
}

.funkyPlayer-container {
    left: 13%;
    top: 6%;
}

#friendList-container {
    position: absolute;
    z-index: 10;
    width: 70%;
    height: 95%;
    top: 62px;
    left: 0;
    background-image: url(/img/textures/white_texture.png);
    /*background-color: rgba(255, 255, 255, 0.97);*/
    color: #111;
    font: 800 14px "PT Sans Narrow";
    overflow-y: auto;
    overflow-x: hidden;
    display: none;

    -webkit-transform: translate3d(0,0,0);
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -webkit-transform-style: flat;
}

#friendList {
    margin: 5%;
}

.friendItem {
    height: 110px;
    width: 110px;
    display: inline-block;
    border: 2px solid rgb(218, 218, 218);
    background-color: #ffffff;
    -webkit-border-radius: 25px;
    -webkit-transition: all .2s ease-in-out;
}

.friendPic {
    -webkit-border-radius: 11px;
}

.friendname {
    width: 150px;
}

.frienddetails {
    padding: 12px;
}

.giftPopup {
    display: none;
    position: fixed;
    color: rgb(94, 91, 82);
    background-color: rgb(255, 255, 255);
    width: 200px;
    z-index: 999;
    padding: 10px;
    border: 6px solid rgb(59, 156, 202);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 14px;
    -moz-box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.16);
    -webkit-box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.16);
    box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.16);
}

.giftFrom {
    font: 13px "PT Sans Narrow";
    font-weight: 800;
}

.giftMessage {
    font: 12px "PT Sans Narrow";
}

.history-filter-container2 {
    height: 26px;
    margin-left: 5px;
    margin-top: 5px;
    display: inline-block;
    zoom: 1; /* ie7 hack for display:inline-block */
    /**display: inline;*/
    border: solid 1px #d2d2d2;
    padding: 3px 5px;
    width: 270px;

    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em;

    -webkit-box-shadow: 0 1px 0px rgba(0,0,0,.1);
    -moz-box-shadow: 0 1px 0px rgba(0,0,0,.1);
    box-shadow: 0 1px 0px rgba(0,0,0,.1);

    background: #f1f1f1;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));
    background: -moz-linear-gradient(top,  #fff,  #ededed);
}

#history-filter input {
    font: normal 12px/100% Arial, Helvetica, sans-serif;
}

.history-filter-container2 #history-filter {
    background: #fff;
    padding: 6px 6px 6px 8px;
    width: 240px;
    border: solid 1px #bcbbbb;
    outline: none;

    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em;

    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
}
#history-filter {
    border: solid 1px #494949;
    font-size: 11px;
    height: 22px;
    padding-left: 6px;
    width: 160px;
}

#_history-filter {
    border: solid 1px #494949;
    font-size: 11px;
    height: 24px;
    margin-top: 1px;
    width: 80%;
    text-shadow: 0 1px 1px rgba(0,0,0,.6);

    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em;

    background: #5f5f5f;
    background: -webkit-gradient(linear, left top, left bottom, from(#9e9e9e), to(#454545));
    background: -moz-linear-gradient(top,  #9e9e9e,  #454545);
}

#history-filter-container {
    position: fixed;
    width: 300px;
    z-index: 1;
    margin-left: 8px;
    margin-top: 7px;
}

.historyFilterCancel {
    font-size: 26px;
    color: #9B9B9B;
    margin-left: 2px;
    vertical-align: middle;
    -webkit-transition: color 0.3s ease-out;
}

.historyFilterCancel:hover {
    cursor: pointer;
    font-size: 26px;
    color: #55EEF5;
    margin-left: 2px;
    vertical-align: middle;
}

.playlistDropZone {
    width: 35%;
    margin-left: 0;
    height: 100%;
    top: 62px;
    left: 35%;
    background-color: rgba(67, 135, 53, 0.33);
    position: fixed;
    z-index: 1;
    display: none;
}

.dropSpans {
    margin: 40% auto;
    font: 32px "Oswald";
    color: white;
}

.playlistSearchZone {
    width: 35%;
    top: 62px;
    left: 0;
    margin-left: 0;
    height: 100%;
    float: left;
    background-color: rgba(23, 67, 114, 0.40);
    position: fixed;
    z-index: 1;
    display: none;
}

.searchFullWidth {
    width: 70%;
}

#resultsOps {
    top: 35%;
    position: fixed;
    right: 37%;
    z-index: 9;
    width: 20px;
    display: none;
}

.trash {
    cursor: pointer;
    width: 100px;
    position: absolute;
    top: 150%;
}

.arrowright {
    cursor: pointer;
    width: 119px;
}

.bgOver {
    color: #000000;
    background-color: rgba(218, 226, 115, 0.47);
}

.playlistHover {
    color: #000000;
    background-color: rgba(218, 226, 115, 0.47);
    -webkit-transform: scale(1.2);
}

.friendHover {
    color: #000000;
    background-color: rgba(50, 217, 238, 0.5);
    -webkit-transform: scale(1.2);
    -webkit-animation-name: wiggle;
    -webkit-animation-duration: .2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
}

.selectedPlaylistItem {
    border:solid 6px rgb(247, 255, 113);
/*    -webkit-transform: scale(0.6);
    -webkit-animation-name: wiggle-mild;
    -webkit-animation-duration: .4s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
*/}

html.busy, html.busy * {
    cursor: wait;
}
body {
    overflow: hidden;
    /*background-color: rgb(241, 241, 241);*/
    background-image: url(/img/textures/noise_pattern_with_crosslines.png);
}
a {
    color: black;
    text-decoration: none;
    -webkit-transition: color 0.3s ease-out;
    -moz-transition: color 0.3s ease-out;
    -o-transition: color 0.3s ease-out;
    transition: color 0.2s ease-out;
}
a:hover {
    color: #209aee;
}

/* Disable the blur border around selected/focused elements */
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

ul.results-list {
    margin-top: 110px;
    margin-left: -40px;
}

/* Disable the bullet thing on list items */
ul {
    list-style-type: none;
    /*list-style-position: inside;
     list-style-image: url('/static/img/finger.png');
     */
}
/* The search form
==================================================*/
#searchForm form {
    position: fixed;
    width: 70%;
    top: 6px;
    left: 0px;
    margin-left: 7%;
    /*margin: 0 auto;*/
}
#searchField {
    font-family: "Open Sans",Arial,Helvetica,sans-serif;
    font-size: 22px;
    /*text-shadow: -0.095em 0 red, 0.19em 0 cyan;*/
    letter-spacing: -1px;
    height: 100%;
    width: 68%;
    padding: 3px 10px 5px;
    background-color: rgba(255, 255, 255, 1);
    border: 6px solid #3F3F3F;
    color: black;
}
input::-webkit-input-placeholder {
    color: #222;
}
input:-moz-placeholder {
    color: #222;
}
input:-ms-input-placeholder {
    color: #222;
}
#searchForm {
    z-index: 200;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 62px;
    background: rgba(0, 0, 0, 0.77);
    -webkit-transform: translate3d(0,0,0);
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -webkit-transform-style: flat;
}

/* Navigation & Page Number
==================================================*/
#pageNumber {
    display:none;
    z-index:500;
    position: fixed;
    letter-spacing: -1.8px;
    color: #ffffff;
    font: 150px "Oswald";
    left: 7%;
    top: 7%;
}
#track_count_current {
    position: fixed;
    top: 66px;
    right: 32%;
    letter-spacing: -1.8px;
    color: #CACACA;
    font: 20 "Oswald";
    z-index: 0;
 }
#track_count_total {
    z-index: 500;
    position: fixed;
    letter-spacing: -1.8px;
    color: rgb(255, 255, 255);
    font: 51px "Oswald";
    left: 24%;
    top: -1.5%;
    margin-left: 21px;
}
#prev_page{
    z-index:500;
    position: fixed;
    left: 7%;
    top: 7%;
    cursor: pointer;
    -moz-transform:rotate(7deg); /* Firefox */
    -webkit-transform:scale(0.72) rotate(7deg); /* Safari and Chrome */
}
#next_page{
    z-index:500;
    position: fixed;
    left: 18%;
    top: 8%;
    cursor: pointer;
    -moz-transform:scale(0.5) rotate(170deg); /* Firefox */
    -webkit-transform:scale(0.7) rotate(170deg); /* Safari and Chrome */
}

.trackEntry {
    width: 135px;
    display: inline-block;
    margin-bottom: 18px;
    margin-left: 0;
}
/* MusixMatch Results section
==================================================*/

.mxThumb {
    width: 120px;
    height: 120px;
    cursor: pointer;
    -webkit-transition: all .2s ease-in-out;
}

/*.mxThumb:hover {*/
/*-webkit-transform: scale(1.2);*/
/*}*/

.trackName {
    width: 130px;
    font: 800 13px "PT Sans Narrow";
    display: inline-block;
    clear: both;
    height: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.trackArtist {
    /*letter-spacing: -1.8px;*/
    color: #494949;
    font: 12px "PT Sans Narrow";
    cursor: pointer;
}
#resultsSection {
    display: none;
    /*text-shadow: 2px 2px 2px transparent;*/
    position: absolute;
    width: 70%;
    top: 0;
    left: 0;
    text-align: center;
    line-height: 20px;
    -webkit-backface-visibility: hidden;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 2;
}

/* The thing that pops up to display lyrics
==================================================*/
#lightBox {
    background-color: rgba(29, 29, 29, 0.86);
    z-index: 9;
    position: fixed;
    left: 10%;
    top: 110px;
    width: 55%;
    height: 80%;
    overflow: hidden;
    -moz-box-shadow: 20px 5px 50px rgba(0, 0, 0, 0.85);
    -webkit-box-shadow: 20px 5px 50px rgba(0, 0, 0, 0.85);
    box-shadow: 20px 5px 50px rgba(0, 0, 0, 0.85);
    border: 2px solid #1D1D1D;
    -webkit-transition: all .3s ease-in-out;
}

.lboxScaleHide {
    opacity: 0;
    -webkit-transform: scale(0);
}

.lboxScaleShow {
    opacity: 1.0;
    -webkit-transform: scale(1);
}

#lightBox-content-container {
    width: 100%;
    height: 100%;
    overflow: auto;
    margin-top: 2%;
}
#lyricsThumb {
    display: none;
    outline-color: black;
    outline: 3px;
    z-index: 0;
    position: fixed;
    left: 47%;
    top: 12%;
    overflow-y: scroll;
    overflow-x: hidden;
}

#logo {
    margin: 0 auto;
    opacity: 0.96;
    top: 149px;
    position: fixed;
    text-align: center;
    text-indent: -.12em;
    color: rgba(46, 66, 77, 0);
    font: 360px "anchor-web-1","anchor-web-2", 'Impact', sans-serif;
    font-weight: 900;
    line-height: 1;
}

#orignal_logo {
    margin: 0 auto;
    opacity: 0.96;

    top: 149px;
    position: fixed;
    text-align: center;
    text-indent: -.12em;

    color: #2E424D;
    font: 360px "anchor-web-1","anchor-web-2", 'Impact', sans-serif;
    font-weight: 900;
    line-height: 1;

    text-shadow: rgb(245, 25, 148) .01em .01em 0, rgb(245, 25, 148) .02em .02em 0, rgb(245, 25, 148) .03em .03em 0, rgb(245, 25, 148) .04em .04em 0, rgb(245, 25, 148) .05em .05em 0, rgb(245, 25, 148) .06em .06em 0, rgb(245, 25, 148) .07em .07em 0, rgb(245, 25, 148) .08em .08em 0, rgb(245, 25, 148) .09em .09em 0, rgb(245, 25, 148) .1em .1em 0;
}

#lyricsButtons {
    width: 293px;
    margin: 10px auto;
}

#lyricsTitle {
    /*	text-shadow: 0 1px 0 #ccc,
        0 2px 0 #c9c9c9,
        0 3px 0 #bbb,
        0 4px 0 #b9b9b9,
        0 5px 0 #aaa,
        0 6px 0 #aaa,
        0 6px 1px rgba(0,0,0,.1),
        0 0 5px rgba(0,0,0,.1),
        0 1px 3px rgba(0,0,0,.3),
        0 3px 5px rgba(0,0,0,.2),
        0 5px 10px rgba(0,0,0,.25),
        0 10px 10px rgba(0,0,0,.2),
        0 20px 20px rgba(0,0,0,.15);
    */	font: 45px Oswald;
    letter-spacing: -2px;
    text-align: left;
    line-height: 53px;
    color: black;
    font-weight: 700;
    z-index: 10;
    margin-bottom: 2%;
    margin-top: 2%;
}

#lyricstext {
    display: none;
    width: 70%;
    position: relative;
    left: 10%;
    font: 12px/22px Helvetica, Arial, sans-serif;
    color: #ffffff;
    letter-spacing: 1px;
}

#closeButton {
    font-size: 40px;
    z-index: 10;
    cursor: pointer;
    position: fixed;
    left: -19px;
    top: 43%;
    color: white;
    -webkit-border-radius: 31px;
    background-color: rgba(29, 29, 29, 0.86);
    height: 31px;
    border: 3px solid rgba(29, 29, 29, 0.86);
    text-align: center;
}
/* List items of tracks from VK
==================================================*/
.vkTrackEntry-container {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 40px;
}

#vk-results-list {
    margin-top: 80px;
    margin-left: -8px;
}

.vkMessage {
    color: white;
    font: bold 14px "PT Sans Narrow";
    letter-spacing: 1px;
    width: 194px;
    margin-top: -68px;
    margin-bottom: 18px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.vkTrackEntry {
    background-color: whitesmoke;
    height: 36px;
    width: 96%;
    margin-bottom: 4px;
}
.vkdownloadlink {
    margin-left: 15px;
    font: 13px "PT Sans Narrow";
    letter-spacing: 0px;
    color: #252525;
    vertical-align: 6px;
}
.lickContainer {
    margin-left: 10px;
    margin-top: 9px;
    display: inline-block;
}

.lickButton {
    color: #AFAFAF;
    font-size: 25px;
    margin-right: -8px;
    height: 25px;
    cursor: pointer;
    -webkit-transition: all .25s ease-in-out;
}

.lickButton:hover {
    color: #71FF27;
}

.resultsBody {
    z-index: 10;
}

ul.lastfm-buttons {
    position: fixed;
    top: -90px;
    left: 9%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 3px 6px 6px 6px;
    margin-right: 20px;
}

#funkyPlayer {
    width: 30%;
    position: fixed;
    z-index: 8;
    right: 0;
    top: 0;
    height: 40%;
    background: url(https://lh5.googleusercontent.com/-KrI-djzBat8/UNiqHTlsiYI/AAAAAAAAXRw/xME4x5hxQkA/s0/3536ipod4.jpg);
    background-repeat: repeat-y;
    background-position: right top;
    -moz-background-size: 100% auto;
    -webkit-background-size: 100% auto;
    -o-background-size: 100% auto;
    background-size: 100% auto;
}


#playHistory a {
    color: #111111;
    font: 800 15px "PT Sans Narrow";
}

#playHistory {
    background-color: whitesmoke;
    color: #111111;
    font: 400 13px "PT Sans Narrow";
    width: 30%;
    position: fixed;
    z-index: 9;
    right: 0;
    top: 30%;
    height: 70%;
    /*    -webkit-box-shadow: 19px -16px 21px rgba(0, 0, 0, 0.7);*/

    -webkit-transform: translate3d(0,0,0);
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -webkit-transform-style: flat;
}

#history-stream-list-container {
    height: 95%;
    overflow: auto;
    margin-top: 45px;
    background-image: url(/img/loading.gif);
    background-repeat: no-repeat;
    background-position: center 35%;
}

#history-stream-list {
    margin-top: 0;
}

.history-cbox-show {
    margin-left: -38px;
}

.history-cbox-hide {
    margin-left: -60px;
}

.tweetItem {
    /* These three are neccessary to slide out*/
    position: relative;
    left: 0;
    width: 100%;
    /* Essential */
    height: 52px;
    border-bottom: 3px solid whitesmoke;
    color: black;
    background-color: white;
    display: none;
    -webkit-transition: -webkit-transform .5s ease-in-out;
}

.flyup {
    -webkit-transform: translate(0px, -1000px);
}

.flyleft {
    -webkit-transform: translate(-500px, 0px);
}

.historyOpIcons {
    cursor: pointer;
    font-size: 19px;
    display: inline-block;
    width: 20px;
    height: 12px;
    margin-top: 8px;
}

.historyOpIcons:hover {
    color: #55EEF5;
}

.tweetShow {
    display: list-item;
}

.tweetPlay {
    color:white;
    background-color: #4399ee;
    /*background-color: rgb(201, 24, 95);*/
}

.tweetItem_drag {
    padding: 10px;
    background-color: red;
}

.tweetcheckbox {
    cursor: pointer;
    float: left;
    margin-top: 22px;
    background: red;
}

.tweetThumb {
    cursor: -webkit-grab;
    width: 45px;
    height: 45px;
    float: left;
    margin: 4px;
    margin-right: 15px;
}

.tweetDelete {
    font-size: 18px;
    height: 18px;
    cursor: pointer;
    float: right;
    margin-right: 6px;
    margin-top: 22px;
    color: #880909;
}

.tweetGift {
    height: 18px;
    float: right;
    margin-right: 30px;
    margin-top: 22px;
}

.tweetOpsHide {
    display: none !important;
}

.tweetDownload {
    height: 21px;
    cursor: pointer;
    float: right;
    margin-right: 22px;
    margin-top: 22px;
    color: #4C4C4D;
}

.tweet-shit {
    overflow: auto;
}

.tweetTrackArtist {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tweetTrackName {
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tweetDetails {
    cursor: pointer;
    padding-top: 9px;
    text-align: left;
    width: 68%;
    margin-left: 80px;
}

.playModeButtons {
    cursor: pointer;
    position: relative;
    height: 58px;
    margin-right: 0;
    z-index: 999;
    -webkit-filter: grayscale(1);
}

#spank-player-controls {
    margin-top: -8px;
    float: right;
    margin-right: 5%;
}

#playlistProperties {
    text-align: left;
    position: fixed;
    top: 70px;
    left: 20px;
    padding-top: 0px;
    color: #7CB4D3;
    font: 11px "Oswald";
    width: 60%;
    background: white;
    border-radius: 24px;
    z-index: 10;
}

#sharedwithtext {
    display: inline-block;
}

.icon-group.shareicon {
    float: left;
    font-size: 25px;
    margin-right: 11px;
    margin-left: 15px;
    margin-top: 8px;
}

#pTitleText {
    display: inline-block;
    color: #777;
    font-size: 19px;
    margin-right: 15px;
    margin-top: 2px;
}

#pprop-controls {
    display: inline-block;
}

.icon-signin.historyOpIcons {
    display: none;
}

.icon-trash.historyopicons {
    margin-left: 8px;
}

.icon-trash.pprop-trash {
    cursor: pointer;
    position: absolute;
    right: 13px;
    color: #CFCFCF;
    font-size: 25px;
    margin-right: 13px;
    margin-top: -22px;
}

.icon-trash.pprop-trash:hover {
    color: #FF2525;
}