@-webkit-keyframes wiggle {
	from {-webkit-transform: rotateZ(6deg);}
	50% {-webkit-transform: rotateZ(-6deg);}
	to {-webkit-transform: rotateZ(6deg);}
}

@-webkit-keyframes wiggle-mild {
	from {-webkit-transform: rotateZ(3deg);}
	50% {-webkit-transform: rotateZ(-3deg);}
	to {-webkit-transform: rotateZ(3deg);}
}

.funkyPlayer-container {
    left: 20%;
}

#friendList-container {
    position: absolute;
    z-index: 10;
    width: 69%;
    height: 90%;
    top: 84px;
    left: 0;
    background-color: whiteSmoke;
    color: #111;
    font: 800 14px "PT Sans Narrow";
    overflow: auto;
    border: 4px solid rgb(151, 151, 151);
    display: none;
}

#friendList {
    margin: 5%;
}

.friendItem {
    height: 110px;
    width: 110px;
    display: inline-block;
    border-bottom: 3px solid whiteSmoke;
    background-color: white;
    -webkit-border-radius: 25px;
    -webkit-transition: all .2s ease-in-out;
}

.friendPic {
    -webkit-border-radius: 11px;
}

.friendname {
    width: 150px;
}

.frienddetails {
    padding: 12px;
}

.giftPopup {
    display: none;
	position: fixed;
	color: rgb(94, 91, 82);
	background-color: rgb(255, 255, 255);
	width: 200px;
	z-index: 999;
	padding: 10px;
	border: 6px solid rgb(59, 156, 202);
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 14px;
	-moz-box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.16);
	-webkit-box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.16);
	box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.16);
}

.giftFrom {
    font: 13px "PT Sans Narrow";
    font-weight: 800;
}

.giftMessage {
    font: 12px "PT Sans Narrow";
}

.history-filter-container2 {
    margin-left: 5px;
    margin-top: 3px;
    display: inline-block;
    zoom: 1; /* ie7 hack for display:inline-block */
    /**display: inline;*/
    border: solid 1px #d2d2d2;
    padding: 3px 5px;
    width: 86%;

    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em;

    -webkit-box-shadow: 0 1px 0px rgba(0,0,0,.1);
    -moz-box-shadow: 0 1px 0px rgba(0,0,0,.1);
    box-shadow: 0 1px 0px rgba(0,0,0,.1);

    background: #f1f1f1;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));
    background: -moz-linear-gradient(top,  #fff,  #ededed);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed'); /* ie7 */
    -ms-filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed'); /* ie8 */
}
#history-filter input {
    font: normal 12px/100% Arial, Helvetica, sans-serif;
}
.history-filter-container2 #history-filter {
    background: #fff;
    padding: 6px 6px 6px 8px;
    width: 100%;
    border: solid 1px #bcbbbb;
    outline: none;

    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em;

    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
}
#history-filter {
    border: solid 1px #494949;
    font-size: 11px;
    height: 27px;
    width: 80%;
    text-shadow: 0 1px 1px rgba(0,0,0,.6);

    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em;

    background: #5f5f5f;
    background: -webkit-gradient(linear, left top, left bottom, from(#9e9e9e), to(#454545));
    background: -moz-linear-gradient(top,  #9e9e9e,  #454545);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#9e9e9e', endColorstr='#454545'); /* ie7 */
    -ms-filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#9e9e9e', endColorstr='#454545'); /* ie8 */
}

#history-filter-container {
    position: fixed;
    width: 30%;
    z-index: 1;
    background-color: whitesmoke;
    height: 42px;
}

.playlistDropZone {
    width: 35%;
    margin-left: 0;
    height: 100%;
    top: 90px;
    left: 35%;
    background-color: rgba(67, 135, 53, 0.33);
    position: fixed;
    z-index: 1;
    display: none;
}

.dropSpans {
    top: 25%;
    left: 10%;
    position: absolute;
    font: 32px "Oswald";
    color: rgb(255, 255, 255);
}

.playlistSearchZone {
    width: 35%;
    margin-left: 0;
    height: 100%;
    float: left;
    top: 90px;
    left: 0;
    background-color: rgba(23, 67, 114, 0.40);
    position: fixed;
    z-index: 1;
    display: none;
}

.searchFullWidth {
    width: 70%;
}

#resultsOps {
    top: 35%;
    position: fixed;
    right: 37%;
    z-index: 9;
    width: 20px;
    display: none;
}

.trash {
    cursor: pointer;
    width: 100px;
    position: absolute;
    top: 150%;
}

.arrowright {
    cursor: pointer;
    width: 119px;
}

.bgOver {
    color: #000000;
    background-color: rgba(218, 226, 115, 0.47);
}

.playlistHover {
    color: #000000;
    background-color: rgba(218, 226, 115, 0.47);
    -webkit-transform: scale(1.2);
}

.friendHover {
    color: #000000;
    background-color: rgba(50, 217, 238, 0.5);
    -webkit-transform: scale(1.2);
    -webkit-animation-name: wiggle;
    -webkit-animation-duration: .2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
}

.selectedPlaylistItem {
    border:solid 6px rgb(247, 255, 113);
    -webkit-transform: scale(0.6);
    -webkit-animation-name: wiggle-mild;
    -webkit-animation-duration: .4s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
}

html.busy, html.busy * {
	cursor: wait;
}
body {
	overflow: hidden;
	background-color: rgb(241, 241, 241);
}
a {
	color: #FFFFFF;
	text-decoration: none;
	-webkit-transition: color 0.3s ease-out;
	-moz-transition: color 0.3s ease-out;
	-o-transition: color 0.3s ease-out;
	transition: color 0.3s ease-out;
}
a:hover {
	color: #000;
}

/* Disable the blur border around selected/focused elements */
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

ul.results-list {
	margin-top: 28px;
    margin-left: -40px;
}

/* Disable the bullet thing on list items */
ul {
	list-style-type: none;
	/*list-style-position: inside;
	list-style-image: url('/static/img/finger.png');
	*/
}
/* The search form
==================================================*/
#searchForm form {
	position: fixed;
	font-size: 68px;
	font-weight: 900;
	width: 80%;
	top: 11px;
	left: 0px;
	margin-left: 9%;
	/*margin: 0 auto;*/
}
#searchField {
	font: 44.5%/1 Oswald;
	text-shadow: -0.095em 0 red, 0.095em 0 cyan;
	letter-spacing: 0px;
	height: 100%;
	width: 68%;
	padding: 3px 10px 5px;
	background-color: rgba(255, 255, 255, 1);
	border: 6px solid rgb(63, 63, 63);
	color: #000000;
}
input::-webkit-input-placeholder {
	color: #222;
}
input:-moz-placeholder {
	color: #222;
}
input:-ms-input-placeholder {
	color: #222;
}
#searchForm {
	z-index: 200;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 84px;
	-moz-box-shadow: 0 020px 20px rgba(0, 0, 0, 0.7);
	-webkit-box-shadow: 0 020px 20px rgba(0, 0, 0, 0.7);
	box-shadow: 0 020px 20px rgba(0, 0, 0, 0.7);
}

/* Navigation & Page Number
==================================================*/
#pageNumber {
	display:none;
	z-index:500;
	position: fixed;
	letter-spacing: -1.8px;
	color: #ffffff;
	font: 150px "Oswald";
	left: 7%;
	top: 7%;
}
#track_count_current {
    position: fixed;
    letter-spacing: -1.8px;
    color: rgb(255, 255, 255);
    font: 20 "Oswald";
    right: 32%;
    z-index: 0;
    margin-top: 10px;
}
#track_count_total {
	z-index: 500;
	position: fixed;
	letter-spacing: -1.8px;
    color: rgb(255, 255, 255);
	font: 51px "Oswald";
	left: 24%;
	top: -1.5%;
    margin-left: 21px;
}
#prev_page{
	z-index:500;
	position: fixed;
	left: 7%;
	top: 7%;
	cursor: pointer;
	-moz-transform:rotate(7deg); /* Firefox */
	-webkit-transform:scale(0.72) rotate(7deg); /* Safari and Chrome */
}
#next_page{
	z-index:500;
	position: fixed;
	left: 18%;
	top: 8%;
	cursor: pointer;
	-moz-transform:scale(0.5) rotate(170deg); /* Firefox */
	-webkit-transform:scale(0.7) rotate(170deg); /* Safari and Chrome */
}

/* MusixMatch Results section
==================================================*/
.trackEntry {
    width: 150px;
    display: inline-block;
    margin-bottom: 26px;
    margin-left: 15px;
}

.mxThumb {
    width: 150px;
    height: 150px;
    cursor: pointer;
   -webkit-transition: all .2s ease-in-out;
}

/*.mxThumb:hover {*/
    /*-webkit-transform: scale(1.2);*/
/*}*/

.trackName {
	width: 150px;
	color: #111111;
	font: 800 15px "PT Sans Narrow";
	display: inline-block;
    background-color: rgba(73, 45, 45, 0.57);
	clear: both;

	height:20px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.trackArtist {
	letter-spacing: -1.8px;
	color: rgb(114, 114, 114);
	font: italic 600 13px "proxima-nova-1";
	cursor: pointer;
}
#resultsSection {
    display: none;
    text-shadow: 2px 2px 2px rgba(151, 24, 64, 0.2);
    position: absolute;
    width: 70%;
    top: 86px;
    left: 0;
    text-align: center;
    line-height: 20px;
    -webkit-backface-visibility: hidden;
    height: 90%;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 2;
}

/* The thing that pops up to display lyrics
==================================================*/
#lightBox {
    display: none;
    background-color: rgba(255, 255, 255, 0.93);
    z-index: 9;
    position: fixed;
    left: 10%;
    top: 110px;
    width: 55%;
    height: 80%;
    overflow: hidden;
	-moz-box-shadow: 20px 5px 50px rgba(0, 0, 0, 0.85);
	-webkit-box-shadow: 20px 5px 50px rgba(0, 0, 0, 0.85);
	box-shadow: 20px 5px 50px rgba(0, 0, 0, 0.85);
	border: 2px solid #BBB;
}

#lightBox-content-container {
	width: 100%;
	height: 100%;
	overflow: auto;
	margin-top: 2%;
}
#lyricsThumb {
    display: none;
    outline-color: black;
    outline: 3px;
    z-index: 0;
    position: fixed;
    left: 47%;
    top: 12%;
    overflow-y: scroll;
    overflow-x: hidden;
}
#logo {
    margin: 0 auto;
	opacity: 0.96;
	top: -38px;
	position: fixed;
	text-align: center;
	text-indent: -.12em;
	color: rgb(249, 253, 255);
	font: 360px "anchor-web-1","anchor-web-2", 'Impact', sans-serif;
	font-weight: 900;
	line-height: 1;
	text-shadow: rgb(245, 25, 148) .01em .01em 0, rgb(245, 25, 148) .02em .02em 0, rgb(245, 25, 148) .03em .03em 0, rgb(245, 25, 148) .04em .04em 0, rgb(245, 25, 148) .05em .05em 0, rgb(245, 25, 148) .06em .06em 0, rgb(245, 25, 148) .07em .07em 0, rgb(245, 25, 148) .08em .08em 0, rgb(245, 25, 148) .09em .09em 0, rgb(245, 25, 148) .1em .1em 0;
}

#lyricsButtons {
	width: 293px;
    margin: 10px auto;
}
#lyricsTitle {
/*	text-shadow: 0 1px 0 #ccc,
	0 2px 0 #c9c9c9,
	0 3px 0 #bbb,
	0 4px 0 #b9b9b9,
	0 5px 0 #aaa,
	0 6px 0 #aaa,
	0 6px 1px rgba(0,0,0,.1),
	0 0 5px rgba(0,0,0,.1),
	0 1px 3px rgba(0,0,0,.3),
	0 3px 5px rgba(0,0,0,.2),
	0 5px 10px rgba(0,0,0,.25),
	0 10px 10px rgba(0,0,0,.2),
	0 20px 20px rgba(0,0,0,.15);
*/	font: 45px Oswald;
	letter-spacing: -2px;
	text-align: left;
	line-height: 53px;
	color: black;
	font-weight: 700;
	z-index: 10;
	margin-bottom: 2%;
	margin-top: 2%;
}
#lyricstext {
	display: none;
	width: 70%;
	position: relative;
	left: 10%;
	color: black;
	font: 14px/26px "proxima-nova-1";
	letter-spacing: 1px;
}
#closeButton {
	display: none;
    z-index: 10;
	cursor:pointer;
	position: fixed;
	left: 8%;
	top:45%;
}
/* List items of tracks from VK
==================================================*/
.dummy {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding-right: 40px;
}

#vk-results-list {
	margin-top: 80px;
}
.vkMessage {
	color: black;
	font: bold 18px "PT Sans Narrow";
	letter-spacing: 3px;
	margin-top: -68px;
	margin-bottom: 22px;
}
.vkTrackEntry {
    background-color: whitesmoke;
    height: 40px;
    width: 96%;
    margin-bottom: 4px;
}
.vkdownloadlink {
    margin-left: 6px;
    font: 16px "PT Sans Narrow";
    letter-spacing: 0px;
    color: #4e6af1;
    vertical-align: 6px;
}
.lickContainer {
    margin-left: 10px;
    margin-top: 7px;
    display: inline-block;
}
.lickButton {
    height: 25px;
    cursor: pointer;
    margin-right: 5px;
}
#fb-login {
	z-index: 999;
	position: fixed;
	left: 20px;
	top: 20px;
	display: none;
}

.resultsBody {
	z-index: 10;
}

ul.lastfm-buttons {
    position: fixed;
    top: -90px;
    left: 9%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 3px 6px 6px 6px;
    margin-right: 20px;
}

#funkyPlayer {
    width: 30%;
    background-color: whitesmoke;
    background-size: 100% auto;
    background-repeat: no-repeat;
    position: fixed;
    z-index: 8;
    right: 0;
    top: 86px;
    height: 28%;
}

#playHistory a {
    color: #111111;
    font: 800 15px "PT Sans Narrow";
}

#playHistory {
    background-color: whitesmoke;
    color: #111111;
    font: 800 15px "PT Sans Narrow";
    width: 30%;
    position: fixed;
    z-index: 9;
    right: 0;
    top: 38%;
    height: 62%;
    overflow: auto;
/*    -webkit-box-shadow: 19px -16px 21px rgba(0, 0, 0, 0.7);*/
}

#history-stream-list {
     margin-left: -40px; /* Must put this correction after we hack the scrollbar */
     margin-top: 42px;
}


.tweetItem {
/* These three are neccessary to slide out*/
    position: relative;
    left: 0px;
    width: 100%;
/* Essential */
    height: 58px;
    border-bottom: 3px solid whitesmoke;
    color: black;
    background-color: white;
}

.tweetPlay {
    color:white;
    background-color: #4399ee;
    /*background-color: rgb(201, 24, 95);*/
}

.tweetItem_drag {
    padding: 10px;
    background-color: red;
}

.tweetThumb {
    cursor: -webkit-grab;
    width: 50px;
    height: 50px;
    float: left;
    margin: 4px;
    margin-right: 15px;
}

.tweetDelete {
    display: none;
    height: 18px;
    cursor: pointer;
    float: right;
    margin-right: 10px;
    margin-top: 22px;
}

.tweetGift {
    height: 18px;
    float: right;
    margin-right: 30px;
    margin-top: 22px;
}

.tweetDownload {
    display: none;
    height: 21px;
    cursor: pointer;
    float: right;
    margin-right: 22px;
    margin-top: 22px;
}

.tweet-shit {
    overflow: auto;
}

.tweetTrackArtist {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tweetTrackName {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tweetDetails {
    cursor: pointer;
    padding-top: 10px;
    text-align: left;
}

.playModeButtons {
    cursor: pointer;
    position: relative;
    height: 68px;
    margin-right: 0px;
    z-index: 999;
    -webkit-filter: grayscale(1);
}

#spank-player-controls {
    float: right;
    margin-right: 5%;
}​