#playlistScroller {
    position: fixed;
    left:8%;
    bottom:0;
    padding: 6px 15px 0 15px;
    z-index: 10;
    background-color: rgba(49, 49, 49, 0.84);
    width:80%;
    height:160px;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    -webkit-transition: all .4s ease-in-out;
}

.docked {
    -webkit-transform: translate(0px, 162px);
}

#toggle-playlist-button {
    position: absolute;
    top: -30px;
    margin: 10px auto;
    left: 43%;
}

.playlistThumb {
	height: 100px;
 	border: 1px solid #ccc;
    background-color: white;
    margin: 0px auto 5px auto;
    display: block;
    cursor: pointer;
}

#playlistScroller ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: inline-block;
	height: 250px;
}

.playlistName {
    color: #3D3D3D;
    font: 13px "PT Sans Narrow";
    clear: both;
}

#playlistScroller li {
    text-align: center;
    background-color: #f0f0f0;
    border: 5px solid #ccc;
    height: 134px;
    padding: 0;
    margin: 6px;
    display: block;
    float: left;
    -webkit-transition: all .2s ease-in-out;
}

#playlist-types-buttons {
    font: 13px "PT Sans Narrow";
    position: absolute;
    top: -30px;
    margin: 10px auto;
    width: 100%;
    left: 0;
}

#ptcenter {
    width: 334px;
    margin: 0 auto;
    background: #00AFAF
}

.ppi-checkbox {
    display: none;
}

.playlist-type-btn {
    cursor: pointer;
    width: 100px;
    color: white;
    display: inline-block;
    background-color: rgba(49, 49, 49, 0.9);
    height: 18px;
    padding-top: 3px;
    /*-webkit-transition: background-color 0.3s ease-out;*/
}

.playlist-type-btn:hover {
    color: #545454;
    background-color: #55EEF5;
}

.ppi-checkbox:checked + .playlist-type-btn {
    color: #545454;
    background-color: #55EEF5;
}

.icon-music.ppi {
    margin-left: 23px;
    margin-right: 7px;
}

.toggle-playlist-btn {
    cursor: pointer;
    height: 15px;
    width: 25px;
    display: inline-block;
    background-color: rgba(49, 49, 49, 0.9);
    padding-top: 6px;
    text-align: center;
    color: white;
    -webkit-transition: background-color 0.3s ease-out;
}

.toggle-playlist-btn:hover {
    color: #545454;
    background-color: #55EEF5;
}

.slideRight-btn {

}

.slideButtons {
    font-size: 40px;
    z-index: 10;
    cursor: pointer;
    position: fixed;
    left: -19px;
    top: 43%;
    color: white;
    -webkit-border-radius: 31px;
    background-color: rgba(29, 29, 29, 0.86);
    height: 31px;
    border: 3px solid rgba(29, 29, 29, 0.86);
    text-align: center;
}