#playlistScroller {
    padding: 15px 15px 25px 15px;
    position: fixed;
	bottom:0;
	left:3%;
    z-index: 10;
    background-color: #000000;
    width:90%;
    height:200px;
}

#toggle-playlist-button {
    position: absolute;
    top: -20px;
    margin: 10px auto;
    left: 45%;
}

#playlistScroller img {
	width: 120px;
	height: 120px;
    border: 1px solid #ccc;
    background-color: white;
    margin: 5px auto 5px auto;
    display: block;
    cursor: pointer;
}

#playlistScroller ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: block;
	height: 250px;
}

.playlistName {
	color: #666;
	font: 800 15px "PT Sans Narrow";
	clear:  both;
}

#playlistScroller li {
	text-align: center;
	background-color: #f0f0f0;
	border: 5px solid #ccc;
	width: 130px;
	height: 190px;
	padding: 0;
	margin: 6px;
	display: block;
	float: left;
}
a.prev, a.next {
	background: url(miscellaneous_sprite.png) no-repeat transparent;
	width: 45px;
	height: 50px;
	display: block;
	position: absolute;
	top: 85px;
}
a.prev {			left: -22px;
					background-position: 0 0; }
a.prev:hover {		background-position: 0 -50px; }
a.next {			right: -22px;
					background-position: -50px 0; }
a.next:hover {		background-position: -50px -50px; }

a.prev span, a.next span {
	display: none;
}
.clearfix {
	float: none;
	clear: both;
}