#playlistScroller {
    padding: 10px 15px 0px 15px;
    position: fixed;
	bottom:-200px;
	left:3%;
    z-index: 10;
    background-color: #313131;
    width:90%;
    height:207px;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    border-radius: 1em;
}

#toggle-playlist-button {
    position: absolute;
    top: -30px;
    margin: 10px auto;
    left: 43%;
}

.playlistThumb {
 	width: 120px;
	height: 120px;
 	border: 1px solid #ccc;
    background-color: white;
    margin: 0px auto 5px auto;
    display: block;
    cursor: pointer;
}

#playlistScroller ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: inline-block;
	height: 250px;
}

.playlistName {
	color: #666;
	font: 800 15px "PT Sans Narrow";
	clear:  both;
}

#playlistScroller li {
    text-align: center;
    background-color: #f0f0f0;
    border: 5px solid #ccc;
    width: 130px;
    height: 168px;
    padding: 0;
    margin: 6px;
    display: block;
    float: left;
}